<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MACUIN - Base</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>

    <header class="navbar">
        <div class="logo-container">
            <img src="/static/img/LOGO.png" alt="Macuin Logo" class="logo-icon">
            <div class="logo-text">
                <h1>MACUIN</h1>
                <p>Autopartes Dist.</p>
            </div>
        </div>

        <nav class="nav-links">
            <a href="#" class="nav-link active">
                <img src="/static/img/icoinventario.png" alt="Inventario">
                Cátalogo
            </a>
            <a href="#" class="nav-link">
                <img src="/static/img/icoordenesn.png" alt="Ordenes">
                Carrito
            </a>
            <a href="#" class="nav-link">
                <img src="/static/img/icoreportes.png" alt="Reportes">
            Mis Pedidos
            </a>
        </nav>

        <div class="user-container">
            <button class="notification-btn">
                <img src="/static/img/noti.png" alt="Notificaciones">
            </button>
            <div class="user-info">
                <p class="user-name">Mauricio Rodríguez</p>
                <p class="user-role">Gerente General</p>
            </div>
            <img src="/static/img/perfil.png" alt="Avatar" class="user-avatar">
        </div>
    </header>


    </main>


    <footer class="footer-simple">
        <p>© 2026 MACUIN - Todos los derechos reservados</p>
    </footer>


</body>
</html>