<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MACUIN Login</title>
<link rel="stylesheet" href="/static/css/inicio.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

<div class="container">

  
    <div class="left-panel">
        <img src="/static\img\" class="bg-img">

        <div class="brand">
            <div class="logo">M</div>
            <h1>MACUIN</h1>
            <p>Administración del Personal Autorizado</p>
        </div>
    </div>

    <!-- PANEL DERECHO -->
    <div class="right-panel">

        <div class="login-card">

            <div class="login-header">
                Bienvenido a la red de distribuidores
            </div>

            <div class="login-body">

                <h2>Bienvenido</h2>

                <form>

                    <div class="input-group">
                        <i class="fa fa-envelope"></i>
                        <input type="email" placeholder="Tu nombre@macuin.com">
                    </div>

                    <div class="input-group">
                        <i class="fa fa-lock"></i>
                        <input type="password" placeholder="Contraseña">
                    </div>

                    <a href="#" class="forgot">¿Olvidaste tu contraseña?</a>

                    <button class="btn-primary">Iniciar Sesión</button>

                    <button class="btn-outline">Registrarse</button>

                </form>

            </div>

        </div>

    </div>

</div>

</body>
</html>