<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MACUIN - Carrito</title>
    <link rel="stylesheet" href="/Flask/static/css/Inventario.css">
</head>
<body>

    <header class="navbar">
        <div class="logo-container">
            <img src="/Flask/static/images/LOGO.png" alt="Macuin Logo" class="logo-icon">
            <div class="logo-text">
                <h1>MACUIN</h1>
                <p>Autopartes Dist.</p>
            </div>
        </div>

        <nav class="nav-links">
            <a href="#" class="nav-link ">
                <img src="/Flask/static/images/icoinventariob.png" alt="Inventario">
                Cátalogo
            </a>
            <a href="#" class="nav-link active">
                <img src="/Flask/static/images/icoordenes.png" alt="Ordenes">
                Carrito
            </a>
            <a href="#" class="nav-link">
                <img src="/Flask/static/images/icoreportes.png" alt="Reportes">
              Mis Pedidos
            </a>
        </nav>

        <div class="user-container">
            <button class="notification-btn">
                <img src="/Flask/static/images/noti.png" alt="Notificaciones">
            </button>
            <div class="user-info">
                <p class="user-name">Mauricio Rodríguez</p>
                <p class="user-role">Gerente General</p>
            </div>
            <img src="/Flask/static/images/perfil.png" alt="Avatar" class="user-avatar">
        </div>
    </header>

    <main class="dashboard-container">
        
        <section class="page-header flex-between align-start">
            <div>
                <h2>Carrito</h2>
                <p>Gestiona el stock de auto partes y actualizar precios</p>
            </div>
            

        </section>

        <section class="inventory-controls">
            <div class="controls-top">
                <div class="search-wrapper search-large">
                    <img src="/Flask/static/images/search.png" alt="Buscar" class="search-icon">
                    <input type="text" placeholder="Buscar  en MACUIN autopartes..." class="search-input">
                </div>
                
                <button class="btn-primary with-icon">
                + Añadir
                </button>
            </div>

            <div class="controls-bottom filter-pills">
                <button class="pill active">Todas las Categorías</button>
                <button class="pill">
                    Listas
                    <img src="/Flask/static/images/icosdown.png" alt="v" class="pill-icon">
                </button>
                <button class="pill">
                    Comprar de nuevo
                    <img src="/Flask/static/images/icosdown.png" alt="v" class="pill-icon">
                </button>
                <button class="pill">
                    Seguir comprando
                    <img src="/Flask/static/images/icosdown.png" alt="v" class="pill-icon">
                </button>
            </div>
        </section>

        <div class="panel table-panel">
            <div class="table-responsive">
                <table class="data-table inventory-table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Precio por unidad</th>
                            <th>Stock</th>

                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="text-blue-link font-bold">Freno de Disco</span></td>
                            <td class="font-bold">Freno de mano hidráulico para derrapar palanca de estacionamiento universal de aleación de aluminio para carreras</td>
                            <td>
                                <div class="desc-with-image">
                                    <span class="font-bold">$450.00</span>
                                    <img src="/Flask/static/images/icoautoparte.png" alt="Alternador" class="product-thumb">
                                    <td class="font-bold">Disponible</td>
                                </div>
                            </td>
                            <td>
                                <div class="actions-group">
                                    <button class="action-btn"><img src="/Flask/static/images/edit.png" alt="Editar"></button>
                                    <button class="action-btn"><img src="/Flask/static/images/delete.png" alt="Eliminar"></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="text-blue-link font-bold">Freno de Disco</span></td>
                            <td class="font-bold">Freno de mano hidráulico para derrapar palanca de estacionamiento universal de aleación de aluminio para carreras</td>
                            <td>
                                <div class="desc-with-image">
                                    <span class="font-bold">$450.00</span>
                                    <img src="/Flask/static/images/icoautoparte.png" alt="Alternador" class="product-thumb">
                                    <td class="font-bold">Disponible</td>
                                </div>
                            </td>
                            <td>
                                <div class="actions-group">
                                    <button class="action-btn"><img src="/Flask/static/images/edit.png" alt="Editar"></button>
                                    <button class="action-btn"><img src="/Flask/static/images/delete.png" alt="Eliminar"></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="text-blue-link font-bold">Freno de Disco</span></td>
                            <td class="font-bold">Freno de mano hidráulico para derrapar palanca de estacionamiento universal de aleación de aluminio para carreras</td>
                            <td>
                                <div class="desc-with-image">
                                    <span class="font-bold">$450.00</span>
                                    <img src="/Flask/static/images/icoautoparte.png" alt="Alternador" class="product-thumb">
                                    <td class="font-bold">Disponible</td>
                                </div>
                            </td>
                            <td>
                                <div class="actions-group">
                                    <button class="action-btn"><img src="/Flask/static/images/edit.png" alt="Editar"></button>
                                    <button class="action-btn"><img src="/Flask/static/images/delete.png" alt="Eliminar"></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="text-blue-link font-bold">Freno de Disco</span></td>
                            <td class="font-bold">Freno de mano hidráulico para derrapar palanca de estacionamiento universal de aleación de aluminio para carreras</td>
                            <td>
                                <div class="desc-with-image">
                                    <span class="font-bold">$450.00</span>
                                    <img src="/Flask/static/images/icoautoparte.png" alt="Alternador" class="product-thumb">
                                    <td class="font-bold">Disponible</td>
                                </div>
                            </td>
                            <td>
                                <div class="actions-group">
                                    <button class="action-btn"><img src="/Flask/static/images/edit.png" alt="Editar"></button>
                                    <button class="action-btn"><img src="/Flask/static/images/delete.png" alt="Eliminar"></button>
                                </div>
                            </td>
                        </tr>
                        
                        
                    </tbody>
                </table>
            </div>

            <div class="pagination">
                <p>Mostrando <span class="text-blue-link">1</span> a <span class="text-blue-link">5</span> de <span class="text-blue-link">100</span> resultados</p>
                <div class="pagination-controls">
                    <button class="page-btn"><img src="/Flask/static/images/icoizquierda.png" alt="Prev"></button>
                    <button class="page-btn"><img src="/Flask/static/images/icoderecha.png" alt="Next"></button>
                </div>
            </div>
        </div>
    </main>

</body>
</html>