<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Registrarse</title>
<link rel="stylesheet" href="/static/css/registro.css">
<link rel="stylesheet" href="/static/css/variables.css">
</head>

<body>

<div class="container">

    <div class="left-panel">
        <a href="#" class="back">← Volver</a>
    </div>

    <div class="form-panel">

        <div class="form-card">

            <h2>Crea una cuenta</h2>

            <form>

                <label>Nombre</label>
                <input type="text" placeholder="Nombre Completo">

                <label>Email</label>
                <input type="email" placeholder="usuario@ejemplo.com">

                <label>Confirma Email</label>
                <input type="email" placeholder="usuario@ejemplo.com">

                <label>Contraseña</label>
                <input type="password" placeholder="********">

                <div class="terms">
                    <input type="checkbox">
                    <span>He leído y acepto los <b>TÉRMINOS Y CONDICIONES</b></span>
                </div>

                <button type="submit">Registrarse</button>

            </form>

            <p class="footer">© 2025 MACUIN AutoPartes</p>

        </div>

    </div>

</div>

</body>
</html>