*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI', sans-serif;
}

body{
background:#010B26;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

/* CONTENEDOR PRINCIPAL */

.container{
width:1200px;
height:650px;
display:flex;
border-radius:12px;
overflow:hidden;
background:#FFFFFF;
box-shadow:0 15px 40px rgba(0,0,0,0.4);
}

/* PANEL IZQUIERDO */

.left-panel{
flex:1;
position:relative;
background:linear-gradient(135deg,#010B26,#091E57);
display:flex;
align-items:flex-end;
padding:50px;
}

/* MARCA */

.brand{
color:white;
}

.logo{
width:60px;
height:60px;
background:#3974E0;
display:flex;
align-items:center;
justify-content:center;
border-radius:12px;
font-size:28px;
font-weight:bold;
margin-bottom:15px;
}

.brand h1{
font-size:34px;
letter-spacing:2px;
margin-bottom:10px;
}

.brand p{
font-size:14px;
color:#AAADB6;
}

/* PANEL DERECHO */

.right-panel{
flex:1;
display:flex;
justify-content:center;
align-items:center;
background:#F4F6FB;
}

/* TARJETA LOGIN */

.login-card{
width:380px;
background:white;
border-radius:12px;
padding:35px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

/* HEADER */

.login-header{
text-align:center;
margin-bottom:25px;
font-size:14px;
color:#6C6C6C;
}

/* TITULO */

.login-body h2{
color:#091E57;
margin-bottom:25px;
}

/* INPUTS */

.input-group{
display:flex;
align-items:center;
background:#EEF2FB;
border-radius:8px;
padding:12px;
margin-bottom:15px;
}

.input-group i{
color:#3974E0;
margin-right:10px;
}

.input-group input{
border:none;
outline:none;
background:transparent;
color:#010B26;
width:100%;
font-size:14px;
}

/* LINK */

.forgot{
display:block;
font-size:12px;
margin-bottom:20px;
color:#3974E0;
text-decoration:none;
}

.forgot:hover{
text-decoration:underline;
}

/* BOTÓN PRINCIPAL */

.btn-primary{
width:100%;
padding:12px;
background:#3974E0;
border:none;
border-radius:25px;
color:white;
font-weight:bold;
cursor:pointer;
margin-bottom:10px;
transition:.3s;
}

.btn-primary:hover{
background:#0D3A8D;
}

/* BOTÓN SECUNDARIO */

.btn-outline{
width:100%;
padding:12px;
background:transparent;
border:2px solid #3974E0;
border-radius:25px;
color:#3974E0;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

.btn-outline:hover{
background:#3974E0;
color:white;
}