body{
background:var(--azul-oscuro);
color:white;
font-family:Arial;
}

.navbar{
background:var(--azul-panel);
display:flex;
justify-content:space-between;
padding:20px;
}

.menu a{
color:white;
margin-left:20px;
text-decoration:none;
}

.perfil-container{
display:flex;
justify-content:center;
margin-top:80px;
}

.perfil-card{
background:var(--card);
padding:40px;
border-radius:12px;
text-align:center;
width:350px;
border:1px solid var(--borde);
}

.perfil-card img{
width:120px;
margin-bottom:20px;
}

.badge{
background:var(--azul-principal);
padding:5px 12px;
border-radius:20px;
font-size:12px;
}

.info{
margin-top:20px;
color:var(--gris-claro);
}